.about-content {
    padding-top: 52px;
    padding-right: 32px;
    padding-bottom: 52px;
    padding-left: 32px;
}

.about-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    
}