.header-container {
    display: flex;
    margin-bottom: 128px;

    @media screen and (min-width: 768px) {
        margin-bottom: 97px;
    }
}

.navigation {
    margin-left: 318px;
    margin-top: 40px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navigation-list {
    display: flex;
    gap: 80px;
}

.navigation-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--light-text-color);
}

.icon-logo {
    margin-top: 22px;
    margin-left: 35px;
    /* margin-bottom: 130px; */

    @media screen and (min-width: 768px) {
        width: 56px;
        height: 58px;
    }
}

.mob-menu {
    display: none;
}

.menu-open {
    padding: 0;
    margin-left: auto;
    margin-right: 38px;
    margin-top: 32px;
    /* margin-bottom: 141px; */
    border: none;
    background-color: rgba(0, 0, 0, 0);
    fill: var(--light-text-color);

    @media screen and (min-width: 769px) {
        display: none;
    }
}

.menu-icon {
    padding: 0;
    border: none;
}

.back {
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;

    background-image: url(../images/hero_mob.jpg);

    @media screen and (min-width: 768px) {
        background-image: url(../images/hero_tablet.jpg);
    }

    @media screen and (min-width: 1440px) {
        background-image: url(../images/hero_desk_1440.jpg);
    }
}